.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto; /* add padding to account for vertical scrollbar */
    overflow-x:hidden;
    z-index:1000 !important;
}

 
.ui-autocomplete li {
    font-size: 16px;
}

.ui-menu .ui-menu-item a {
    cursor: pointer;
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
    background: none !important;
    background-color: lightblue !important;
    border: none !important;
}

