.sidebar {
    margin: 0;
    padding-top: 20px;
    width: 250px;
    background-color: #4d52b5;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.right-panel {
  display: block;
  position: fixed;
  padding: 0px 20px;
  width: 300px;
  height: 100%;
  right: 0px;
  top: 0;
  background-color: #4d52b5;
}
  
.sidebar a {
  display: block;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 10px;
  margin-left: 30px;
  text-decoration: none;
}
  
div.content {
  margin-left: 250px;
  margin-right: 300px;
}

div.contentwithoutwatchlist {
  margin-left: 250px;
}

.card-content{
    text-align: left;
}

li.active {
  background-color: red;
}

.card{
    box-shadow: 10px 22px 90px -26px rgba(0,0,0,0.66);
}

a , span, button,  p, h3, label, h6, h5,h2{
    font-family:"Montserrat";
}

.nav-tabs > li > a{
  color: black;
}

textarea {
  border: none;
  overflow: auto;
  font-size: 25px;
  outline: none;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

::placeholder {
  font-size: 25px;
}
/* .commentfield {
  background-color: #f0f2f5;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
} */
.inputfield{
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f2f5;
  outline: 0px;

  border: none;
}
.sendicon{
  background-color: transparent;
  border: none;

}
/* .sendicon:hover{
  background-color: #e4e6e9;
  border-radius: 50%;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}  */

@media screen and (max-width: 1300px) {
  .right-panel {
    display: none;
  }
  div.content {
    margin-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .card-content{
      text-align: center;
      margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
      float: left;
      font-size: 1rem;
      margin-left: 14px;
    }
  div.content {
    margin-left: 0;
  }
  div.contentwithoutwatchlist {
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
 .sidebar a {
   text-align: center;
   float: none;
 }
}
