li{
  list-style-type: none;
   margin: 0 2vw;
   font-size: 3vh;
}
a{
  text-decoration: none;
  color: black;
  padding: 0vw;
  font-family: arial;
}
nav{
  width: 100vw;
  background-color: #D6EFFF;
}
ul{
  margin: 0;
  padding: 0;
  display: flex;
}
body{
  margin: 0;
}
a:hover{
  background-color: #C6E9FF;
}

.authenticate{
  float:right;
}